@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


.presentation-banner {
    background-color: #ffffff44;
    backdrop-filter: blur(6px);
    color: #1a024a74;
    box-shadow: 0px 5px 4px #15141955;
    font-weight: bold;
    transition: transform 2s ease-in-out, scale 2s ease-in-out;
}

.banner{
    background-color: #ffffff44;
    backdrop-filter: blur(6px);
    color: #1a024a74;
    box-shadow: 0px 5px 4px #15141955;
    font-weight: bold;
}

p.premise{
    text-shadow: 0px 4px 3px rgba(45, 45, 45, 0.81);
    transition: scale 2s ease-in-out;
    user-select: none;
}

p.premise:hover{
    scale: 1.1;
}

.presentation-banner:hover{
    box-shadow: 0px 5px 10px #1514197c;
    scale: 1.1;
    transform: translateY(-10px);
}

.word-spacing {
    word-spacing: 5px;
}

.benefitCard {
    background-color: #0b23a948;
    transition: transform 0.1s ease-in-out, box-shadow 0.5s ease-in-out;
}

.benefitCard p{
    transition: transform 0.5s ease-in-out, text-shadow 0.5s ease-in-out;
}

.benefitCard:hover p {
    text-shadow: 0px 4px 3px rgba(45, 45, 45, 0.81);
    scale: 1.1;
}


@keyframes ariseBublesAnimation {
    from {
        opacity: 0;
        transform: scale(0.2);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


.bubles-animation {
    animation-name: ariseBublesAnimation;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

.gradient-start-button {
    background: linear-gradient(180deg, #707CE7 0%, #512C6D 100%);
    opacity: 0.6;
    transition: all 1s ease;
}

.gradient-start-button:hover {
    opacity: 1;
    scale: 0.9;
}

.arise-animation {
    animation: ariseAnimation 1s forwards;
}